*{
	margin: 0;
	padding: 0;
}
html {
	background-color: rgb(240, 108, 30);
}
.bg img {
	width: 1519px;
}
.bg h1 {
	font-family: tapestry;
	font-size: 53px;
	text-align: center;
	margin-top: -200px;
	color: #fff;
}
.bg a {
	text-decoration: none;
}
header {
	color: #fff;
	text-align: center;
}
header h3 {
	margin-top: 200px;
	width: 250px;
	display: inline-block;
	margin-top: 105px;
	color: #fff;
}
article {
	color: #fff;
}
article h2, p {
	text-align: center;
}
article h2 {
	font-size: 32px;
	line-height: 100px;
}
article p {
	font-size: 24px;
}
section {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
section video  {
	width: 700px;
}
footer {
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}